@font-face {
    font-family: Inconsolata;
    src: url('Inconsolata.otf');
}
* {
}
body {
    background-color: #49f;
    color: #000;
    font-size: 200%;
    padding: 1em 0;
}
a {
    text-decoration: none;
}
a p {
    color: #000;
    font-weight: bold;
}
a:hover p {
}
h1,h2,h3,h4,h5,h6 {
    font-family: Inconsolata, courier;
    letter-spacing: -.15ex;
}
.header h1, .header h2 {
    margin-bottom: 0;
    line-height: 65%;
    text-align: center;
}
.header h1 {
    margin-left: -20px;
}
.header h2 {
    margin-left: 40px;
}
.header {
    margin-bottom: 1em;
}
hr {
    border: none;
    border-bottom: solid 1px #000;
}
