<!DOCTYPE html>

<html lang="en">
<head>
	<title>Reid Ransom</title>
    
    <link rel="stylesheet" href="{{media_root}}blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{media_root}}blueprint/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{media_root}}blueprint/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->
    
    <link rel="stylesheet/less" type="text/css" href="{{media_root}}style.less" />
    <script src="{{media_root}}less.js" type="text/javascript"></script>
    
    <script src="{{media_root}}jquery.js" type="text/javascript"></script>
    
    <script src="{{media_root}}jquery.scrollTo.js" type="text/javascript"></script>
    <script src="{{media_root}}jquery.localscroll.js" type="text/javascript"></script>

    <link href="{{media_root}}shadowbox/shadowbox.css" rel="stylesheet" type="text/css" />
    <script src="{{media_root}}shadowbox/shadowbox.js" type="text/javascript"></script>
	
</head>
<body>

    <div class="container">
    
        <div class="span-24 last header">
            <h1><a href="../">Reid Ransom</a></h1>
            <h2>-edit reel-</h2>
        </div>

        <div class="span-15 append-1 videos">
            {{#categories}}
            <h6 id="{{id}}">{{title}}</h6>
                {{#videos}}
                <p><a href="{{video_root}}{{video}}" rel="shadowbox;width={{width}};height={{height}};player=flv">{{title}}</a></p>
                {{/videos}}
            {{/categories}}
        </div>
    
        <div class="span-8 last categories"><div>
            <p><a href="../">Latest</a></p>
            {{#categories}}
            <p><a href="#{{id}}">{{title}}</a></p>
            {{/categories}}
        </div></div>
        
    </div>

    <script type="text/javascript">
    $(function() {
        $('.categories').localScroll({
            hash: true
        });
        Shadowbox.init({
            flashVars: {
                skin: "{{media_root}}mediaplayer-5.5/glow.zip",
                controlbar: "over"
            }
        });
    });
    </script>

</body>
</html>
