<!DOCTYPE html>

<html lang="en">
<head>
	<title>Reid Ransom</title>
	<!-- meta name="keywords" content="entertainment, promotion, writing, editorial, integrated marketing, design, live action production, editing, concept, digital media, online, interactive, creative studio, digital studio, commercial, branded content, Los Angeles" />
	<meta name="description" content="B2 Studios – North Hollywood’s welterweight entertainment promotion and marketing champion since 2006." / -->
	<script type="text/javascript">
    </script>
    <link rel="stylesheet" type="text/css" href="media/style.css" />
</head>
<body>
    {{ content }}
    <script type="text/javascript">
    </script>
</body>
</html>
